name: ci

on: [push, pull_request]

jobs:
  pycodestyle:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version-file: '.ci-python-version'
    - name: Install pycodestyle
      run: pip install pycodestyle
    - name: Check code style with PyCodestyle
      run: pycodestyle --count --max-line-length 120 plugin.py

  mypy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version-file: '.ci-python-version'
    - name: Install maubot & mypy
      run: pip install maubot mypy
    - name: Check typing with mypy
      run: mypy plugin.py
